<!-- Javascript-exercises -->
<div class="exercises">
  <div class="container" id="exercise">
    <div class="d-flex justify-content-center">
      <h1>
        Exercises
        <i class="highlighted highlighted-javascript">JS</i>🤓
      </h1>
    </div>
  </div>
</div>

  <%= render partial: 'cards-exercises', locals: {exercises: @exercises_js} %>

  <!-- Other-exercice -->
<div class="card-container">
  <div class="container" id="exercise">
    <div class="d-flex justify-content-center">
      <h1>
        In
        <i class="highlighted highlighted-ruby"> progress </i>🤩
      </h1>
    </div>
  </div>
</div>

  <%= render partial: 'cards-exercises', locals: {exercises: @exercises_ruby} %>
